{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'assets/fonts/Feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/aos/dist/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/flickity-fade/flickity-fade.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/flickity/dist/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/highlightjs/styles/vs2015.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/jarallax/dist/jarallax.css' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/quill/dist/quill.core.css' %}" />

    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
    
    <!-- awsome font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Read UR Mind</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  </head>
  <body class="bg-light">

    <!-- NAVBAR ================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand" href="../main">
          <img src="{% static 'assets/img/logo.png' %}" class="navbar-brand-img" alt="Read UR Mind">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fe fe-x"></i>
          </button>

          <!-- Navigation -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main" aria-haspopup="true" aria-expanded="false">
                Main
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/introduction" aria-haspopup="true" aria-expanded="false">
                Services
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team" aria-haspopup="true" aria-expanded="false">
                Team
                </a>
            </li>
          </ul>

          <!-- Button -->
          <a class="navbar-btn btn btn-sm btn-outline-secondary lift ml-auto" href="https://github.com/wjddn955/A-4_project" target="_blank">
            Github <i class="fa fa-github"></i>
          </a>

        </div>

      </div>
    </nav>

    <section class="py-8 py-md-11 border-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Headin -->
            <h1 class="display-2 text-success">
              Team A-4
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-7 mb-md-9">
              Programmers Dev Course 4기
            </p>

          </div>
        </div> <!-- / .row -->

        <div class="row ">
          <div class="col d-flex">

            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="https://github.com/wjddn955">

                <!-- Image -->
                <img src="{% static 'assets/img/photos/photo-정우.png' %}" alt="..." class="card-img-top">

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                  양정우
                </h3>

                <!-- Text -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-text mb-0 h6 text-muted">키워드 추출 모델 <br>
                    최적화</li>
                  <li class="list-group-text mb-0 h6 text-muted">AWS 서버 연결</li>
                  <li class="list-group-text mb-0 h6 text-muted">프론트엔드 개발</li>
                </ul>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">

                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  Leader
                </h6>

              </a>

            </div>

          </div>
          
          <div class="col d-flex">

            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="#!">

                <!-- Image -->
                <img src="{% static 'assets/img/photos/photo-유라.jpg' %}" alt="..." class="card-img-top">

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                  김유라
                </h3>

                <!-- Text -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-text mb-0 h6 text-muted">감정 분류 모델 <br>
                    평가 및 분석</li>
                  <li class="list-group-text mb-0 h6 text-muted">감정 분류 모델 학습</li>
                  <li class="list-group-text mb-0 h6 text-muted">프론트엔드 개발</li>
                </ul>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">

                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  Follower
                </h6>

              </a>

            </div>

          </div>

          <div class="col d-flex">

            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="#!">

                <!-- Image -->
                <img src="{% static 'assets/img/photos/photo-지현.png' %}" alt="..." class="card-img-top">

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                  심지현
                </h3>

                <!-- Text -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-text mb-0 h6 text-muted">감정 분류 모델 <br>
                    평가 및 분석</li>
                  <li class="list-group-text mb-0 h6 text-muted">모델 입출력<br>
                    전후처리 모듈화</li>
                  <li class="list-group-text mb-0 h6 text-muted">프론트엔드 개발</li>
                </ul>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">

                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  Follower
                </h6>

              </a>

            </div>

          </div>

          <div class="col d-flex">

            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="#!">

                <!-- Image -->
                <img src="{% static 'assets/img/photos/photo-언주.png' %}" alt="..." class="card-img-top">

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                  여언주
                </h3>

                <!-- Text -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-text mb-0 h6 text-muted">감정 분류 모델 <br>
                    평가 및 분석</li>
                  <li class="list-group-text mb-0 h6 text-muted">프론트엔드 개발</li>
                </ul>

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">

                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  Follower
                </h6>

              </a>

            </div>

          </div>

          <div class="col d-flex">

            <!-- Card -->
            <div class="card shadow-light-lg lift lift-lg">

              <!-- Image -->
              <a class="card-img-top" href="#!">

                <!-- Image -->
                <img src="{% static 'assets/img/photos/photo-상민.png' %}" alt="..." class="card-img-top">

              </a>

              <!-- Body -->
              <a class="card-body" href="#!">

                <!-- Heading -->
                <h3>
                  이상민
                </h3>

                <!-- Text -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-text mb-0 h6 text-muted">키워드 추출 모델 <br>
                    최적화</li>
                  <li class="list-group-text mb-0 h6 text-muted">도서 데이터 <br>
                    크롤링 및 정제</li>
                  <li class="list-group-text mb-0 h6 text-muted">데이터베이스 구축 <br>
                     웹 연동</li>
                </ul>
                

              </a>

              <!-- Meta -->
              <a class="card-meta mt-auto" href="#!">

                <!-- Divider -->
                <hr class="card-meta-divider">

                <!-- Author -->
                <h6 class="text-uppercase text-muted me-2 mb-0">
                  Follower
                </h6>

              </a>

            </div>

          </div>

        </div> <!-- / .row -->
      </div>
    </section>
    <!-- FOOTER
    ================================================== -->
    <footer class="py-8 py-md-11 bg-gray-200">
      <div class="container">
        <div class="row" style="justify-content: center;">
          <div>
        
            <!-- Brand -->
            <img src="{% static 'assets/img/logo.png' %}" alt="..." class="footer-brand img-fluid mb-2" style="max-height: 5.5rem; margin-bottom: -1rem!important;">

            <!-- Text -->
            <p class="text-gray-700 mb-2" style="text-align : center;">
              Read Your Mind
            </p>

          </div>

        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>
  </body>
</html>